<div class="row">
  <div class="col-md-3 col-xs-12">
    <%= render 'shared/aside' %>
  </div>
  <div class="col-md-9 col-xs-12">
      <%= render 'recipes/recipe' %>
  </div>
  <%= link_to 'Ver todas receitas', recipes_path, class: 'btn btn-default' %>
</div>
